// Global Variables
$website-width: 1200px;
$main-color: #fff200;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$white-light: #fff;
$bg-image: url("../img/showcase5.jpg");
$image-position: no-repeat center center/cover;
$image-shade: linear-gradient(
  to bottom right,
  rgba(0, 0, 0, 0.7) 0%,
  rgba(0, 0, 0, 0.6) 100%
);
$box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
$box-shadow-dark: 0 -4px 6px rgba(255, 255, 255, 0.15);

// Measuring Units

$px: 1px;
$rem: 16px;
$em: 1em;
$cent: 100%;

// Responsive Breakpoints

// Functions
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $dark-color;
  } @else {
    @return $white-light;
  }
}
